---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/2025/Header.astro";
import Intro from "../../components/2025/Intro.astro";
import Activities from "../../components/2025/Activities.astro";
import Registro from "../../components/2025/RegistroLc.astro";
import Fases from "../../components/2025/FasesLc.astro";
import Caracteristicas from "../../components/2025/Caracteristicas.astro";
import Patrocinadores from "../../components/2025/Patrocinadores.astro";
import Footer from "../../components/2025/Footer.astro";
import Form from "../../components/2025/Form.astro";
---

<Layout title="Banner Fever 2025 | Exhibición de Banners">
    <main>
        <Header />
        <Intro />
        <Activities />
        <Fases />
        <Registro />
        <Form />
        <Caracteristicas />
        <Patrocinadores />
        <Footer />
    </main>
</Layout>
