---

---

<footer class="w-full mt-24 mb-16 flex flex-col justify-center items-center">
    <div class="w-full md:w-2/3 mt-8 text-center">
        <h3 class="font-impact font-bold text-7xl lg:text-9xl mt-16">
            16.NOV.25
        </h3>
        <h6
            class="font-montserrat font-medium mb-3 text-center text-base lg:text-xl"
        >
            1:00 pm a 10:pm
        </h6>
        <h4 class="font-migko font-medium text-xl lg:text-3xl mt-2">
            C.INDEPENDENCIA 115, CENTRO, LEON, GTO.
        </h4>
        <h5 class="font-montserrat text-base lg:text-xl font-medium mt-2">
            CRIME BOYS COLLECTIVE INVITA
        </h5>
        <div class="flex justify-between items-end mt-32">
            <p class="font-montserrat text-base lg:text-lg w-96 text-left">
                Síguenos en nuestras redes para más información y estar al tanto
                de las novedades del evento
            </p>
            <a
                href="https://www.instagram.com/banner.fever/"
                target="_blank"
                class="font-migko text-xl lg:text-3xl">@banner.fever</a
            >
        </div>
        <div class="w-full mt-16 flex justify-center items-center gap-8">
            <a
                href="/index.html#edicion_2023"
                target="_blank"
                class="font-impact text-xl underline decoration-wavy underline-offset-4"
                >EDICION 2023</a
            >
            <a
                href="/index.html#proxima_edicion"
                target="_blank"
                class="font-impact text-xl underline decoration-wavy underline-offset-4"
                >EDICION 2024</a
            >
        </div>
    </div>
</footer>
