---

---

<section class="w-full flex flex-col justify-center items-center mt-16">
    <div class="w-full md:w-2/3">
        <p class="font-montserrat text-base md:text-xl text-center">
            Banner Fever regresa con fuerza en su tercera edición como una
            exposición itinerante que celebra el arte del tatuaje a través de
            sus tradicionales banners. Este evento se ha consolidado como un
            espacio único para que artistas de todo el mundo muestren su
            creatividad y pasión, y este año no será la excepción.
        </p>

        <p class="font-montserrat text-base md:text-xl text-center mt-6">
            Nuestro objetivo sigue siendo el mismo: reunir a los mejores
            artistas nacionales e internacionales en una celebración anual del
            arte en sus diversas formas. En esta edición, nos complace anunciar
            que los invitados han sido seleccionados meticulosamente no solo por
            su destacada trayectoria y la calidad excepcional de su trabajo,
            sino también por ser representantes de sus respectivas ciudades.
            Cada uno de ellos aporta una perspectiva única, haciendo de esta
            exposición una experiencia rica y diversa.
        </p>
    </div>
</section>
