---

---

<section class="w-full mt-24 flex flex-col justify-center items-center">
    <h4 class="font-migko text-4xl font-semibold text-center">REGISTRO</h4>
    <div class="w-full md:w-2/3 mt-4">
        <ul>
            <li class="my-4 w-full flex justify-start gap-5">
                <span class="font-impact font-bold text-6xl text-[#078f81]"
                    >1</span
                >
                <p class="font-montserrat text-base md:text-lg">
                    <span class="font-bold">Llenar el formulario:</span> Cada participante
                    deberá completar el siguiente formulario con <span
                        class="font-bold"
                        >fecha límite del martes 15 de julio.
                    </span>
                    <a
                        href="#form"
                        target="_self"
                        class="font-montserrat font-bold text-base md:text-lg underline decoration-wavy underline-offset-4 text-red-600"
                        >Contestar formulario
                    </a>
                </p>
            </li>

            <li class="my-4 w-full flex justify-start gap-5">
                <span class="font-impact font-bold text-6xl text-[#078f81]"
                    >2</span
                >
                <p class="font-montserrat text-base md:text-lg">
                    <span class="font-bold">Envío y compromiso:</span> Una vez enviado,
                    el formulario no podrá ser modificado. Al enviarlo, te comprometes
                    a cumplir con los tiempos y formas que se explicarán a continuación.
                </p>
            </li>
        </ul>
    </div>
</section>
