---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Header from "../../components/2024/Header.astro";
import Main from "../../components/2024/Main.astro";
import Footer from "../../components/2024/Footer.astro";
---

<Layout title="Banner Fever 2024 | Exhibición de Banners">
    <main>
        <Navbar />
        <Header />
        <Main />
        <Footer />
    </main>
</Layout>
