---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import NextEdition from "../components/NextEdition.astro";
import AboutCBC from "../components/AboutCBC.astro";
import Edition2023 from "../components/Edition2023.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Banner Fever 2024">
	<main>
		<Navbar />
		<Header />
		<About />
		<NextEdition />
		<AboutCBC />
		<Edition2023 />
		<Footer />
	</main>
</Layout>
