---

---

<footer class="w-full py-8">
    <div class="w-full flex justify-center items-center gap-8">
        <img
            src="/images/edition_2025/banner-edicion-2025.jpeg"
            alt="Banner Fever 2024 Figura principal de la edición 2024"
            class="w-40 md:w-60 xl:w-[360px] h-auto object-cover scale-x-[-1] border-4 border-black"
        />
        <div class="max-w-72">
            <p class="font-montserrat text-base xl:text-3xl mb-4">
                Síguenos en nuestras redes sociales para todas las novedades del
                evento
            </p>
            <a
                class="font-montserrat font-bold text-lg xl:text-4xl"
                href="https://www.instagram.com/banner.fever/"
                title="Conoce más del evento en nuestro Instagram Oficial"
                target="_blank">@banner.fever</a
            >
        </div>
    </div>
    <div class="w-full mt-16 flex justify-center items-center gap-8">
        <a
            href="/2023"
            target="_self"
            class="font-impact text-xl underline decoration-wavy underline-offset-4"
            >EDICION 2023</a
        >
        <a
            href="/2024"
            target="_self"
            class="font-impact text-xl underline decoration-wavy underline-offset-4"
            >EDICION 2024</a
        >
    </div>
</footer>
