---

---

<footer class="w-full py-8 flex justify-center items-center gap-4">
    <img
        src="../../public/images/muerte-ilustracion.png"
        alt="Banner Fever 2024 Figura principal de la edición 2024"
        class="w-40 md:w-60 xl:w-[560px] h-auto object-cover scale-x-[-1]"
    />
    <div class="max-w-72">
        <p class="font-montserrat text-base xl:text-3xl mb-4">
            Síguenos en nuestras redes sociales para todas las novedades del
            evento
        </p>
        <a
            class="font-montserrat font-bold text-lg xl:text-4xl"
            href="https://www.instagram.com/banner.fever/"
            title="Conoce más del evento en nuestro Instagram Oficial"
            target="_blank">@banner.fever</a
        >
    </div>
</footer>
