---

---

<header class="w-full h-auto">
    <div
        class="w-full bg-dark text-white font-impact text-2xl xl:text-5xl flex justify-between items-center p-4"
    >
        <h2>CRIME</h2>
        <h2>BOYS</h2>
        <h2>COLLECTIVE</h2>
    </div>

    <div class="w-full flex flex-col md:flex-row border-black border-x-8">
        <div
            class="w-full md:w-1/3 border-black border-t-4 md:border-t-0 md:border-l-4 flex justify-center items-center"
        >
            <img
                src="/images/edition_2025/banner-edicion-2025.jpeg"
                alt="Banner Fever 2025 Loneta pintada a mano"
                class="object-cover border-b-8 md:border-b-0 md:border-r-8 border-black"
            />
        </div>

        <div
            class="w-full md:w-2/3 border-black border-b-4 md:border-b-0 md:border-r-4 py-5 px-8 flex flex-col justify-center items-start"
        >
            <h1 class="font-impact text-5xl xl:text-7xl mb-2">
                <span class="text-primary-2025">BANNER FEVER 2025</span> LLEGA ESTE
                <span class="text-secondary-2025">16 DE NOVIEMBRE</span> CON SU TERCERA
                EDICION
            </h1>
            <p class="font-montserrat text-xs xl:text-base mb-6">
                Banner Fever llega a su tercera edición reuniendo a talentosos
                artistas nacionales e internacionales que dan vida a sus estilos
                sobre tela. Una exposición imperdible para quienes sienten
                pasión por la tradición, el arte y la expresión visual.
                Acompáñanos el 16 de noviembre en Independencia 115, Centro,
                León Gto., y sé parte de esta celebración.
            </p>
            <a
                href="#proxima_edicion"
                class="border-black border-2 py-2 xl:py-4 px-4 xl:px-8 ml-2 text-xs xl:text-base font-montserrat font-semibold button-cta"
                >DESCUBRE MAS</a
            >
        </div>
    </div>

    <div class="w-full p-4 bg-dark overflow-hidden whitespace-nowrap">
        <div class="animate-scroll inline-block">
            <h2
                id="scrolling-text"
                class="w-full text-white font-impact text-3xl xl:text-5xl tracking-wider inline-block"
            >
                EXPOSICION DE BANNERS · MUSICA EN VIVO · VENTA DE MERCHANDISING
                · COMIDA · RIFA DE MATERIAL DE ARTE · EXPOSITORES NACIONALES E
                INTERNACIONALES
            </h2>
            <h2
                id="scrolling-text"
                class="w-full text-white font-impact text-3xl xl:text-5xl tracking-wider inline-block"
            >
                EXPOSICION DE BANNERS · MUSICA EN VIVO · VENTA DE MERCHANDISING
                · COMIDA · RIFA DE MATERIAL DE ARTE · EXPOSITORES NACIONALES E
                INTERNACIONALES
            </h2>
        </div>
    </div>
</header>

<style>
    @keyframes scroll {
        0% {
            transform: translateX(20%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    .animate-scroll {
        display: inline-block;
        white-space: nowrap;
        animation: scroll 25s linear infinite;
    }
    .button-cta {
        box-shadow: -10px 10px 0px 0px rgba(0, 0, 0, 1);
    }
    .button-cta:hover {
        box-shadow: -12px 12px 0px 0px rgba(0, 0, 0, 1);
    }
</style>
