---

---

<header class="w-full h-auto">
    <div
        class="w-full bg-dark text-white font-impact text-2xl xl:text-5xl flex justify-between items-center p-4"
    >
        <h2>CRIME</h2>
        <h2>BOYS</h2>
        <h2>COLLECTIVE</h2>
    </div>

    <div class="w-full flex flex-col md:flex-row border-black border-x-8">
        <div
            class="w-full md:w-1/2 border-black border-t-4 md:border-t-0 md:border-r-4 py-2 px-8 flex flex-col justify-center items-start"
        >
            <h1 class="font-impact text-7xl mb-2">
                LLEGA <span class="text-primary">BANNER FEVER 2024</span> EN SU EDICIÓN
                <span class="text-secondary">DÍA DE MUERTOS</span>
            </h1>
            <p class="font-montserrat mb-6">
                Visita la exposición este 17 de noviembre y explora la variedad
                de banners presentados, conoce a los artistas detrás de las
                obras, participa en talleres, concursa en las rifas, todo
                acompañado de buena música en vivo y deliciosa comida.
            </p>
            <a
                href="#proxima_edicion"
                class="border-black border-2 py-4 px-8 ml-2 font-montserrat font-semibold button-cta"
                >DESCUBRE MAS SOBRE EL EVENTO</a
            >
        </div>

        <div
            class="w-full md:w-1/2 border-black border-b-4 md:border-b-0 md:border-l-4 p-2 flex justify-center items-center bg-accent"
        >
            <img
                src="../../public/images/logotipo.png"
                alt="Banner Fever 2024 Logotipo de la edición 2024"
                class="object-cover"
            />
        </div>
    </div>

    <div class="w-full p-4 bg-dark overflow-hidden whitespace-nowrap">
        <h2
            class="w-full text-white font-impact text-3xl xl:text-5xl tracking-wider animate-scroll"
        >
            EXPOSICION DE BANNERS · MUSICA EN VIVO · TALLERES · VENTA DE
            MERCHANDISING · COMIDA · RIFA DE MATERIAL DE ARTE · MAS DE 60
            EXPOSITORES
        </h2>
    </div>
</header>

<style>
    @keyframes scroll {
        0% {
            transform: translateX(50%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    .animate-scroll {
        display: inline-block;
        white-space: nowrap;
        animation: scroll 15s linear infinite;
    }
    .button-cta {
        box-shadow: -10px 10px 0px 0px rgba(0, 0, 0, 1);
    }
    .button-cta:hover {
        box-shadow: -12px 12px 0px 0px rgba(0, 0, 0, 1);
    }
</style>
