---

---

<nav class="w-full py-4">
    <ul
        class="list-none font-montserrat text-xs lg:text-base text-center flex justify-between items-center"
    >
        <li>
            <a
                href="/2024"
                class="hover:underline hover:decoration-wavy hover:underline-offset-4"
                >EDICION 2024</a
            >
        </li>
        <li>
            <a
                href="/"
                class="hover:underline hover:decoration-wavy hover:underline-offset-4"
                >EDICION 2025</a
            >
        </li>
        <li>
            <a
                href="https://www.instagram.com/banner.fever/"
                target="_blank"
                class="hover:underline hover:decoration-wavy hover:underline-offset-4"
                title="Conoce más del evento en nuestro Instagram Oficial"
                >@BANNER.FEVER</a
            >
        </li>
    </ul>
</nav>
