---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--color-primary: #fa6c06;
		--color-secondary: #8d78ff;
		--color-accent: #ffda74;
		--color-complementary: #ffdfc6;
		--color-background: #ededed;
		--color-light: #ffffff;
		--color-dark: #000000;
	}
	@font-face {
		font-family: "Impact";
		src: url("/fonts/Impact.ttf");
	}
	@font-face {
		font-family: "Montserrat";
		src: url("/fonts/Montserrat.ttf");
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--color-background);
		scroll-behavior: smooth;
	}
	body {
		margin: 0;
		padding: 1rem;
		box-sizing: border-box;
		overflow-x: hidden;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
