---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			property="og:title"
			content="Banner Fever 2025. Exposición de banners en León Gto"
		/>
		<meta
			name="description"
			content="¡No te pierdas la exhibición de banners más grande de León, Gto! Ven y descubre una variedad de banners artísticos. Evento único con exposiciones, talleres y más."
		/>
		<meta
			name="keywords"
			content="banners, exhibición de banners, evento de arte, tatuaje, tattoo, pintura, talleres, música en vivo, Día de muertos, 16 de noviembre, León Guanajuato México"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta
			property="og:image"
			content="https://bannerfever.netlify.app/images/edition_2025/banner-edicion-2025.jpeg"
		/>
		<meta property="og:url" content="https://bannerfever.netlify.app/" />
		<meta property="og:type" content="website" />

		<link rel="icon" type="image/svg+xml" href="/images/logo.png" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--color-primary: #fa6c06;
		--color-secondary: #8d78ff;
		--color-accent: #ffda74;
		--color-complementary: #ffdfc6;
		--color-background: #ededed;
		--color-light: #ffffff;
		--color-dark: #000000;
	}
	@font-face {
		font-family: "Impact";
		src: url("/fonts/Impact.ttf");
	}
	@font-face {
		font-family: "Montserrat";
		src: url("/fonts/Montserrat.ttf");
	}
	@font-face {
		font-family: "Migko";
		src: url("/fonts/Sigko.ttf");
	}
	@font-face {
		font-family: "Beckan";
		src: url("/fonts/Beckan.otf");
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--color-background);
		scroll-behavior: smooth;
		overflow-x: hidden;
	}
	body {
		margin: 0;
		padding: 1rem;
		box-sizing: border-box;
		overflow-x: hidden;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
